* {
  font-weight: bolder;
  min-height: 0;
  border: none;
}

window#waybar {
  background: @background;
  color: @foreground;
  border-bottom: 2px solid @base0D;
  padding: 2px;
}

tooltip {
  border-color: @base0D;
  color: @base05;
}

#workspaces,
#pulseaudio,
#cpu,
#memory,
#network,
#clock,
#tray {
  background: @background;
  color: @foreground;
  padding: 2px 6px;
  margin: 2px;
  border-radius: 5px;
  transition:
    background 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
